{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  thead tr.info th {vertical-align: top;}
  span.disabled {color: #999999}
  span.current {font-weight: bold;}
</style>

<p>&nbsp;</p>
<h3 style="float: left; margin: 0; padding: 0;">Список телефонов &nbsp;&nbsp;</h3>

<table class="table table-bordered table-hover">
<caption></caption>
<thead>
<tr class="info">
<th>Номер</th>
</tr>
</thead>
<tbody>
{% for dir in dirs %}
{% url 'calls:answer_detail' call.id as call_url %}
<tr class="">
	<td><a href="./{{dir}}/">{{dir}}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
